@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Raleway&display=swap");

// Variables
$dark-color: #333;
$darker-color: #414141;
$light-color: #fcfcfc;
$lighter-color: #eee;
$medium-color: #d5d5d5;
$medium-dark-color: #696969;
$blue-color: #0a54b4;
$green-color: #0f7428;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Motserrat", sans-serif;
  background: $lighter-color;
  transition: background 0.2s ease;
  width: 1180px;
  min-height: 100vh;
  margin: 50px auto 50px auto;
}

// Button
.btn {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  margin: 0.7rem 1rem;
  border-radius: 2px;
  background: $light-color;
  color: $dark-color;
  border: 1px solid $medium-color;
  transform: scale(1);
  transition: transform 0.2s ease;
  transition: background 0.2s ease;

  &:hover {
    background: $light-color;
    transition: background 0.2s ease;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }

  .fas {
    position: absolute;
    bottom: -5px;
    right: -4px;
    color: $green-color;
  }
}

.theme {
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;
  border: 0;
  padding: 0.5rem;
  border-radius: 2px;
  font-size: 1.4rem;

  &:focus {
    outline: none;
  }
}

.selected {
  border: 2px solid $green-color !important;
}

.highlight {
  font-weight: bold;
}

.currencies {
  h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    transition: color 0.2s ease;
  }
}

.interval {
  h3 {
    font-size: 2rem;
    font-weight: normal;
    margin: 1rem 0;
    transition: color 0.2s ease;
  }
}

.container {
  // Left Side / Single Item
  .chart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    box-shadow: 2px 2px 10px $medium-color;
    background-color: $light-color;
    border-radius: 2px;

    .radialBar {
      margin-top: 1rem;
    }

    .single {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      .item {
        padding: 0 1rem;
        margin-top: -1.5rem;
        border-radius: 15px;
        height: 250px;
        width: 500px;

        .name {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .currency {
            font-size: 2rem;

            img {
              margin-right: 9px;
              width: 25px;
              height: 25px;
            }

            span {
              margin-left: 4px;
              color: $medium-color;
              font-size: 1.3rem;
            }
          }

          .rank {
            font-size: 1.2rem;
          }
        }

        .prices {
          display: block;
          font-size: 1.2rem;
          margin-top: 1rem;

          div {
            margin: 1rem 0;
          }
        }
      }
    }
  }
}

// Content placeholder
.placeholder {
  width: 80%;
  height: 200px;
  background-color: $medium-color;
  margin: 2rem;
  position: relative;
  animation: 1.7s forwards infinite linear contentPlaceholder;
  background: $light-color;
  background: linear-gradient(to right, #eee 2%, #dddddd 18%, #eee 33%);
  background-size: 1300px;
}

@keyframes contentPlaceholder {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
