@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Raleway&display=swap");

// Variables
$dark-color: #333;
$light-color: #f2f2f2;
$medium-color: #999;
$blue-color: #0a54b4;
$background: #b5a58c;
$gradient-color: linear-gradient(6deg, #74ebd5 0%, #acb6e5 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Motserrat", sans-serif;
  background: $gradient-color;
  width: 1180px;
  min-height: 100vh;
  margin: 50px auto 50px auto;
}

// Button
.btn {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  margin: 0.7rem 1rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  color: $gradient-color;
  border: 0;
  transform: scale(1);
  transition: transform 0.2s ease;
  transition: background 0.2s ease;

  &:hover {
    background: $light-color;
    transition: background 0.2s ease;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(1.05);
    transition: transform 0.2s ease;
  }

  .fas {
    position: absolute;
    bottom: -5px;
    right: -4px;
    color: green;
  }
}

.selected {
  border: 2px solid green;
}

.highlight {
  font-weight: bold;
}

.currencies {
  h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
}

.interval {
  h3 {
    font-size: 2rem;
    font-weight: normal;
    margin: 1rem 0;
  }
}

.container {
  // Left Side / Single Item
  .chart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    border-bottom: 1px solid $dark-color;
    box-shadow: 5px 5px 5px $dark-color;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;

    .radialBar {
      margin-top: 1rem;
    }

    .single {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      .item {
        padding: 0 1rem;
        margin-top: -1.5rem;
        border-radius: 15px;
        height: 250px;
        width: 500px;

        .name {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .currency {
            font-size: 2rem;

            img {
              margin-right: 9px;
              width: 25px;
              height: 25px;
            }

            span {
              margin-left: 4px;
              color: $medium-color;
              font-size: 1.3rem;
            }
          }

          .rank {
            font-size: 1.2rem;
          }
        }

        .prices {
          display: block;
          font-size: 1.2rem;
          margin-top: 1rem;

          div {
            margin: 1rem 0;
          }
        }
      }
    }
  }
}

// Content placeholder
.placeholder {
  width: 80%;
  height: 200px;
  background-color: $medium-color;
  margin: 2rem;
  position: relative;
  animation: 1.7s forwards infinite linear contentPlaceholder;
  background: $light-color;
  background: linear-gradient(to right, #eee 2%, #dddddd 18%, #eee 33%);
  background-size: 1300px;
}

@keyframes contentPlaceholder {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
