@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Motserrat", sans-serif;
  background: #eee;
  width: 1180px;
  transition: background 0.2s ease;
  min-height: 100vh;
  margin: 50px auto 50px auto; }

.selected {
  border: 2px solid #0f7428 !important; }

.highlight {
  font-weight: bold; }

.btn {
  position: relative;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  margin: 0.7rem 1rem;
  border-radius: 2px;
  background: #fcfcfc;
  color: #333;
  border: 1px solid #d5d5d5;
  transform: scale(1);
  transition: transform 0.2s ease;
  transition: background 0.2s ease; }
  .btn:hover {
    background: #fcfcfc;
    transition: background 0.2s ease; }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: scale(1.05);
    transition: transform 0.2s ease; }
  .btn .fas {
    position: absolute;
    bottom: -5px;
    right: -4px;
    color: #0f7428; }

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 1.3rem; }
  .tooltip:hover .tooltiptext {
    visibility: visible; }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: -50px;
    margin-left: -60px; }

.theme {
  cursor: pointer;
  position: absolute;
  content: "";
  top: 20px;
  right: 20px;
  border: 0;
  padding: 0.5rem;
  border-radius: 2px;
  font-size: 1.4rem; }
  .theme:focus {
    outline: none; }

.currencies h3 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
  transition: color 0.2s ease; }

.interval h3 {
  font-size: 2rem;
  font-weight: normal;
  margin: 1rem 0;
  transition: color 0.2s ease; }

.container .chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
  box-shadow: 2px 2px 10px #d5d5d5;
  background-color: #fcfcfc;
  border-radius: 2px; }
  .container .chart .line {
    margin-top: 1rem; }
  .container .chart .single {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }
    .container .chart .single .item {
      padding: 0 1rem;
      margin-top: -1.5rem;
      border-radius: 5px;
      height: 250px;
      width: 500px; }
      .container .chart .single .item .name {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .container .chart .single .item .name .currency {
          font-size: 2rem; }
          .container .chart .single .item .name .currency img {
            margin-right: 9px;
            width: 25px;
            height: 25px; }
          .container .chart .single .item .name .currency span {
            margin-left: 4px;
            color: #d5d5d5;
            font-size: 1.3rem; }
        .container .chart .single .item .name .rank {
          font-size: 1.2rem; }
      .container .chart .single .item .prices {
        display: block;
        font-size: 1.2rem;
        margin-top: 1rem; }
        .container .chart .single .item .prices div {
          margin: 1rem 0; }

.placeholder {
  width: 80%;
  height: 200px;
  margin: 2rem;
  position: relative;
  animation: 1.7s forwards infinite linear contentPlaceholder;
  background-size: 1300px; }

@keyframes contentPlaceholder {
  0% {
    background-position: -650px 0; }
  100% {
    background-position: 650px 0; } }
